.dashboard-body{
    height: auto;
    width: 100vw;
    display: flex;
}

.dashboard-right{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 250px);
    height: 100vh;
}
.dashboard-right-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}