.advanced-body-container{
    height:calc(100vh - 220px);
    width: calc(100% - 60px);
    /* background: red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; 
}

.advanced-body-containerr::-webkit-scrollbar { /* WebKit */
    /* width: 0;
    height: 0; */
    width: 10px !important;
    height: 10px !important;
    border-radius: 1500px !important;
}
.advanced-body-container::-webkit-scrollbar-thumb {
  background: rgba(75, 77, 73, 0.252)  !important;
  border-radius: 1500px !important;
}