.chatname-body:hover{
    background: rgba(255, 255, 255, 0.06);
}

.chatname-body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 210px;
    margin-left: 15px;
    margin-bottom: 8px;
    height: fit-content;
    cursor: pointer;
    padding:3px 4px; 
    border-radius:6px;
}

.chatname-body img{
    height: 21px;
    width: 21px;
    margin: 5px;
}

.chatname-body-text{
    color: rgba(255, 255, 255, 0.849) !important;
    font-size: 14px !important;
    margin-top: 3px !important;
    font-weight: 100 !important;
    margin-left: 10px !important;
}