.chatbots-body{
    width: calc(100% - 30px);
    margin-left: 30px;
    margin-top: 40px;
    height: calc(100vh - 120px);
    /* background: rgba(255, 189, 6, 0.699);  */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}