.chatbotInfo-body-footer-button{
    margin-left: auto !important;
    margin-right: 25px !important;
    height: 50px;
    display: flex !important;
    align-items: center !important;
}

.chatbotInfo-body-footer{
    height: 60px;
    width: 100%;
    display: flex;
    /* background: red; */
}

.chatbotInfo-body{
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: calc(100vh - 130px);
    /* background: rgba(255, 189, 6, 0.699);  */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.chatbotInfo-body-head-buttons{
    height: 60px;
    /* width: 200px; */
    /* background: black; */
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.chatbotInfo-body-head{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.959);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px; 
}

.chatbotInfo-body-container{

}

.chatbotInfo-body-container-textfield{
    width: 96% !important;
    margin: 2% !important;
}