.loading-anim-container{
    height: 60px;
    width: 120px;
    position: absolute;
    /* background: red; */
    bottom: 90px;
    left: 52%;
}

.chatbox-container{
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    /* background: rgba(255, 189, 6, 0.699);  */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.chatbox-container-textField{
    
    width: calc(100% - 85px) !important;
    margin: 0px 0px 0px 3px !important;
}
.chatbox-container-send-button{
    /* width: 20px !important; */
    padding: 0px 0px !important;
    margin-left: 10px !important;
}

.chatbox-nav{
    height:60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.911);
    align-items: center !important;
    justify-content: space-between;
   
}

.chatbox-span-1{
    color: rgba(255, 189, 6, 0.849);
    font-weight: 700;
  }

.chatbox-messages-container::-webkit-scrollbar { /* WebKit */
    /* width: 0;
    height: 0; */
    width: 10px;
    height: 10px !important;
    border-radius: 1500px;
}
.chatbox-messages-container::-webkit-scrollbar-thumb {
  background: rgba(75, 77, 73, 0.252);
  border-radius: 1500px;
}
.chatbox-messages-container{
    overflow-x: hidden;
    overflow-y: auto;
}