.chatbox-container{
    height:450px !important;
    width: 330px !important;
    /* background: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.chatbox-container-textField{
    
    width: 300px !important;
}
.chatbox-container-send-button{
    /* width: 20px !important; */
    padding: 0px 0px !important;
    margin-left: 10px !important;
}

.chatbox-nav{
    height:50px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.911);
   
}

.chatbox-span-1{
    color: rgba(255, 189, 6, 0.849);
    font-weight: 700;
  }

.chatbox-messages-container::-webkit-scrollbar { /* WebKit */
    /* width: 0;
    height: 0; */
    width: 10px;
    height: 10px !important;
    border-radius: 1500px;
}
.chatbox-messages-container::-webkit-scrollbar-thumb {
  background: rgba(75, 77, 73, 0.252);
  border-radius: 1500px;
}
.chatbox-messages-container{
    overflow-x: hidden;
    overflow-y: auto;
}