.child-sidebar-body{
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 10px;
    width:120px;
    height: 350px;
    /* background: rgba(219, 138, 17, 0.075); */
    /* background: rgba(255, 189, 6,0.075); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 60px 5px 0px 10px;
    align-items: flex-end;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}
.child-item{
    padding: 10px 10px 10px 0px;
    text-align: end;
    width: 100px;
    color: rgba(12, 11, 9, 0.863);
    /* margin: 10px !important; */
    font-family: Arial, Helvetica, sans-serif  !important;
    cursor: pointer;
    font-weight: 600 !important;
    font-size: 13px !important;
    border-radius: 8px;
}